.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: top 0.3s;
  .navbar-logo {
    display: flex;
    flex-direction: row;
    img {
      width: 200px;
      cursor: pointer;
    }
  }
  .navbar-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45%;
    margin-top: 2rem;
    .link {
      font-family: $textfontbold;
      font-weight: 500;
      color: white;
      text-decoration: none;
    }
    .link:hover {
      color: $secondarycolor;
    }
    .link {
      position: relative;
      height: 1.8rem;
      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $secondarycolor;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.navNone {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .navbar-wrapper {
    display: none;
  }
  .navNone {
    display: none;
  }
  .navContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .navbar-logo {
      img {
        width: 200px;
        height: 70px;
        cursor: pointer;
      }
    }
    .navbar-burger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .navContent {
    display: none;
  }
}
