.footer-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 0;
  background-color: $primarycolor;
  border-top: 2px solid $secondarycolor;
  .footer-logo {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;

    img {
      width: 200px;
    }
    p {
      font-family: $textfont;
      color: white;
      font-size: 16px;
      margin-top: 3rem;
    }
    .coppy-rights {
      font-family: $textfont;
      color: white;
      opacity: 0.7;
      font-size: 12px;
      margin-top: 6rem;
      position: absolute;
      bottom: 0;
    }
  }
  .footer-information {
    display: flex;
    flex-direction: column;
    .information {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      text-decoration: none;
      .info-img {
        width: 20px;
        height: 20px;
      }
      .info-img:hover {
        transform: scale(1.1);
      }
      p {
        font-family: $textfont;
        color: white;
        font-size: 16px;
      }
    }
    .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
        .social-icon {
          width: 30px;
          height: 30px;
          margin-right: 0.5rem;
          margin-top: 6rem;
          cursor: pointer;
        }
        .social-icon-1 {
          width: 35px;
          height: 35px;
          margin-right: 0.5rem;
          margin-top: 5.9rem;
          cursor: pointer;
        }
      
      img:hover {
        transform: scale(1.1);
      }
    }
  }
  .footer-workingHours {
    display: flex;
    flex-direction: column;
    width: 30%;
    h1 {
      font-family: $textfontbold;
      color: white;
      font-size: 18px;
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
    .working-hours {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      .working-days {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .days-title {
          margin: 0;
          font-family: $textfontbold;
          color: white;
          font-size: 16px;
        }
        .opening-hours {
          margin-top: 0.5rem;
          font-family: $textfont;
          color: white;
          font-size: 14px;
        }
      }
    }
  }
  .coppy-rights-mobile {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer-logo {
      width: 80%;
      margin-bottom: 2rem;
      p {
        text-align: center;
      }
      .coppy-rights {
        display: none;
      }
    }
    .coppy-rights-mobile {
      display: block;
      font-family: $textfont;
      color: white;
      opacity: 0.7;
      font-size: 12px;
      margin-top: 6rem;
      text-align: center;
    }
    .footer-information {
      .social-media {
        img {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
    .footer-workingHours {
      width: 90%;
      .working-hours {
        justify-content: center;
      }
    }
  }
}
