@font-face {
  font-family: "Festivo";
  src: url("./assets/fonts/ahmet-altun---festivolettersno-14.woff.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubic-Bold";
  src: url("./assets/fonts/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("./assets/fonts/Pacifico-Regular.ttf");
}
.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}
.navbar-wrapper .navbar-logo {
  display: flex;
  flex-direction: row;
}
.navbar-wrapper .navbar-logo img {
  width: 200px;
  height: 70px;
  cursor: pointer;
}
.navbar-wrapper .navbar-link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
}
.navbar-wrapper .navbar-link .link {
  font-family: "Rubic-Bold";
  font-weight: 500;
  color: #2F3349;
  text-decoration: none;
}
.navbar-wrapper .navbar-link .link:hover {
  color: #de6509;
}
.navbar-wrapper .navbar-link .link {
  position: relative;
}
.navbar-wrapper .navbar-link .link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #de6509;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-wrapper .navbar-link .link:hover:after {
  width: 100%;
  left: 0;
}

.navNone {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navbar-wrapper {
    display: none;
  }
  .navNone {
    display: none;
  }
  .navContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navContent .navbar-logo img {
    width: 200px;
    height: 70px;
    cursor: pointer;
  }
  .navContent .navbar-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }
  .navContent .navbar-burger img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1024px) {
  .navContent {
    display: none;
  }
}
.mobileMenu-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.mobileMenu-wrapper .menu-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobileMenu-wrapper .menu-head .logo img {
  width: 200px;
  height: 70px;
  cursor: pointer;
}
.mobileMenu-wrapper .menu-head .close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.mobileMenu-wrapper .menu-head .close img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.mobileMenu-wrapper .menu-body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}
.mobileMenu-wrapper .menu-body .link {
  margin-bottom: 1rem;
  text-decoration: none;
  font-family: "Rubic-Bold";
  font-weight: 500;
  color: #2F3349;
}
.mobileMenu-wrapper .menu-body .link:hover {
  color: #de6509;
}
.mobileMenu-wrapper .mobileMenu-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}
.mobileMenu-wrapper .mobileMenu-icons img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
}
.mobileMenu-wrapper .mobileMenu-icons img:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 1024px) {
  .mobileMenu-wrapper {
    display: none;
  }
}
.footer-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 0;
}
.footer-wrapper .footer-logo {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
}
.footer-wrapper .footer-logo img {
  width: 200px;
  height: 70px;
}
.footer-wrapper .footer-logo p {
  font-family: "Rubic";
  color: #2F3349;
  font-size: 16px;
  margin-top: 3rem;
}
.footer-wrapper .footer-logo .coppy-rights {
  font-family: "Rubic";
  color: #2F3349;
  opacity: 0.7;
  font-size: 12px;
  margin-top: 6rem;
  position: absolute;
  bottom: 0;
}
.footer-wrapper .footer-information {
  display: flex;
  flex-direction: column;
}
.footer-wrapper .footer-information .information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
.footer-wrapper .footer-information .information .info-img {
  width: 20px;
  height: 20px;
}
.footer-wrapper .footer-information .information p {
  font-family: "Rubic";
  color: #2F3349;
  font-size: 16px;
}
.footer-wrapper .footer-information .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-wrapper .footer-information .social-media img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  margin-top: 6rem;
  padding-left: 0.5rem;
  cursor: pointer;
}
.footer-wrapper .footer-information .social-media img:hover {
  transform: scale(1.1);
}
.footer-wrapper .footer-workingHours {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer-wrapper .footer-workingHours h1 {
  font-family: "Rubic-Bold";
  color: #2F3349;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.footer-wrapper .footer-workingHours .working-hours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer-wrapper .footer-workingHours .working-hours .working-days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-wrapper .footer-workingHours .working-hours .working-days .days-title {
  margin: 0;
  font-family: "Rubic-Bold";
  color: #2F3349;
  font-size: 16px;
}
.footer-wrapper .footer-workingHours .working-hours .working-days .opening-hours {
  margin-top: 0.5rem;
  font-family: "Rubic";
  color: #2F3349;
  font-size: 14px;
}
.footer-wrapper .coppy-rights-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-wrapper .footer-logo {
    width: 80%;
    margin-bottom: 2rem;
  }
  .footer-wrapper .footer-logo p {
    text-align: center;
  }
  .footer-wrapper .footer-logo .coppy-rights {
    display: none;
  }
  .footer-wrapper .coppy-rights-mobile {
    display: block;
    font-family: "Rubic";
    color: #2F3349;
    opacity: 0.7;
    font-size: 12px;
    margin-top: 6rem;
    text-align: center;
  }
  .footer-wrapper .footer-information .social-media img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .footer-wrapper .footer-workingHours {
    width: 90%;
  }
  .footer-wrapper .footer-workingHours .working-hours {
    justify-content: center;
  }
}
.hero-wrapper {
  position: relative;
  height: 90vh;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: #181818;
}
.hero-wrapper .hero-listing {
  height: 100vh;
  min-height: 90vh;
  max-height: 90vh;
  width: 100vw;
  position: relative;
}
.hero-wrapper .hero-listing .inner-swiper {
  height: 100%;
  width: 100%;
}
.hero-wrapper .hero-listing .inner-swiper .swiper {
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}
.hero-wrapper .hero-listing .inner-swiper .swiper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.3;
}
.hero-wrapper .hero-listing .inner {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin-left: 10rem;
  position: absolute;
  z-index: 4;
  top: 0;
  transform: translateY(80%);
}
.hero-wrapper .hero-listing .inner .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.hero-wrapper .hero-listing .inner h2 {
  color: #de6509;
  font-size: 90px;
  font-family: "Pacifico";
  line-height: 28px;
  opacity: 0.7;
}

@media only screen and (max-width: 1024px) {
  .hero-wrapper .hero-listing .inner {
    margin-left: 2rem;
  }
  .hero-wrapper .hero-listing .inner h2 {
    font-size: 40px;
    width: 100vw;
    text-align: center;
  }
}
body {
  margin: 0;
  padding: 0;
  --swiper-navigation-size: 20px;
}/*# sourceMappingURL=index.css.map */