@use "./variables" as *;
@import "./components/index";
@import "./pages/index";
@import "./UI/index";


body {
    margin: 0;
    padding: 0;
    --swiper-navigation-size: 20px;
    background-color: $primarycolor;
  }
  