@font-face {
  font-family: "Festivo";
  src: url("./assets/fonts/ahmet-altun---festivolettersno-14.woff.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubic-Bold";
  src: url("./assets/fonts/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("./assets/fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Krinkes";
  src: url("./assets/fonts/KrinkesRegularPERSONAL.ttf");
}
.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: top 0.3s;
}
.navbar-wrapper .navbar-logo {
  display: flex;
  flex-direction: row;
}
.navbar-wrapper .navbar-logo img {
  width: 200px;
  cursor: pointer;
}
.navbar-wrapper .navbar-link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 45%;
  margin-top: 2rem;
}
.navbar-wrapper .navbar-link .link {
  font-family: "Rubic-Bold";
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.navbar-wrapper .navbar-link .link:hover {
  color: #de6509;
}
.navbar-wrapper .navbar-link .active {
  background-color: transparent;
}
.navbar-wrapper .navbar-link .link {
  position: relative;
  height: 1.8rem;
}
.navbar-wrapper .navbar-link .link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #de6509;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-wrapper .navbar-link .link:hover:after {
  width: 100%;
  left: 0;
}

.navNone {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navbar-wrapper {
    display: none;
  }
  .navNone {
    display: none;
  }
  .navContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: top 0.3s;
  }
  .navContent .navbar-logo img {
    width: 200px;
    height: 70px;
    cursor: pointer;
  }
  .navContent .navbar-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }
  .navContent .navbar-burger img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .navContent .navbar-burger img:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1024px) {
  .navContent {
    display: none;
  }
}
.mobileMenu-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2F3349;
}
.mobileMenu-wrapper .menu-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobileMenu-wrapper .menu-head .logo img {
  width: 200px;
  height: 70px;
  cursor: pointer;
}
.mobileMenu-wrapper .menu-head .close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.mobileMenu-wrapper .menu-head .close img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.mobileMenu-wrapper .menu-head .close img:hover {
  transform: scale(1.1);
}
.mobileMenu-wrapper .menu-body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}
.mobileMenu-wrapper .menu-body .link {
  margin-bottom: 1rem;
  text-decoration: none;
  font-family: "Rubic-Bold";
  font-weight: 500;
  color: white;
}
.mobileMenu-wrapper .menu-body .link:hover {
  color: #de6509;
}
.mobileMenu-wrapper .menu-body .active {
  background-color: transparent;
}
.mobileMenu-wrapper .mobileMenu-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}
.mobileMenu-wrapper .mobileMenu-icons .social-icon {
  width: 30px;
  height: 30px;
  padding-left: 0.5rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}
.mobileMenu-wrapper .mobileMenu-icons .social-icon-1 {
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
}
.mobileMenu-wrapper .mobileMenu-icons img:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 1024px) {
  .mobileMenu-wrapper {
    display: none;
  }
}
.footer-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 0;
  background-color: #2F3349;
  border-top: 2px solid #de6509;
}
.footer-wrapper .footer-logo {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
}
.footer-wrapper .footer-logo img {
  width: 200px;
}
.footer-wrapper .footer-logo p {
  font-family: "Rubic";
  color: white;
  font-size: 16px;
  margin-top: 3rem;
}
.footer-wrapper .footer-logo .coppy-rights {
  font-family: "Rubic";
  color: white;
  opacity: 0.7;
  font-size: 12px;
  margin-top: 6rem;
  position: absolute;
  bottom: 0;
}
.footer-wrapper .footer-information {
  display: flex;
  flex-direction: column;
}
.footer-wrapper .footer-information .information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
.footer-wrapper .footer-information .information .info-img {
  width: 20px;
  height: 20px;
}
.footer-wrapper .footer-information .information .info-img:hover {
  transform: scale(1.1);
}
.footer-wrapper .footer-information .information p {
  font-family: "Rubic";
  color: white;
  font-size: 16px;
}
.footer-wrapper .footer-information .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-wrapper .footer-information .social-media .social-icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  margin-top: 6rem;
  cursor: pointer;
}
.footer-wrapper .footer-information .social-media .social-icon-1 {
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
  margin-top: 5.9rem;
  cursor: pointer;
}
.footer-wrapper .footer-information .social-media img:hover {
  transform: scale(1.1);
}
.footer-wrapper .footer-workingHours {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer-wrapper .footer-workingHours h1 {
  font-family: "Rubic-Bold";
  color: white;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.footer-wrapper .footer-workingHours .working-hours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer-wrapper .footer-workingHours .working-hours .working-days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-wrapper .footer-workingHours .working-hours .working-days .days-title {
  margin: 0;
  font-family: "Rubic-Bold";
  color: white;
  font-size: 16px;
}
.footer-wrapper .footer-workingHours .working-hours .working-days .opening-hours {
  margin-top: 0.5rem;
  font-family: "Rubic";
  color: white;
  font-size: 14px;
}
.footer-wrapper .coppy-rights-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-wrapper .footer-logo {
    width: 80%;
    margin-bottom: 2rem;
  }
  .footer-wrapper .footer-logo p {
    text-align: center;
  }
  .footer-wrapper .footer-logo .coppy-rights {
    display: none;
  }
  .footer-wrapper .coppy-rights-mobile {
    display: block;
    font-family: "Rubic";
    color: white;
    opacity: 0.7;
    font-size: 12px;
    margin-top: 6rem;
    text-align: center;
  }
  .footer-wrapper .footer-information .social-media img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .footer-wrapper .footer-workingHours {
    width: 90%;
  }
  .footer-wrapper .footer-workingHours .working-hours {
    justify-content: center;
  }
}
.hero-wrapper {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: #181818;
}
.hero-wrapper .hero-listing {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  position: relative;
}
.hero-wrapper .hero-listing .inner-swiper {
  height: 100%;
  width: 100%;
}
.hero-wrapper .hero-listing .inner-swiper .swiper {
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}
.hero-wrapper .hero-listing .inner-swiper .swiper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.3;
}
.hero-wrapper .hero-listing .inner {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin-left: 10rem;
  position: absolute;
  z-index: 4;
  top: 0;
  transform: translateY(80%);
}
.hero-wrapper .hero-listing .inner .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.hero-wrapper .hero-listing .inner h2 {
  color: white;
  font-size: 120px;
  font-family: "Krinkes";
  line-height: 28px;
  opacity: 0.85;
}

@media only screen and (max-width: 1024px) {
  .hero-wrapper .hero-listing .inner {
    margin-left: 2rem;
  }
  .hero-wrapper .hero-listing .inner h2 {
    font-size: 60px;
    width: 100vw;
    text-align: center;
    margin-top: 6rem;
  }
}
.about-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2F3349;
  padding: 3rem 0;
}
.about-wrapper .about-row,
.about-wrapper .about-row-second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about-wrapper .about-row .about-left,
.about-wrapper .about-row-second .about-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-wrapper .about-row .about-left img,
.about-wrapper .about-row-second .about-left img {
  width: 40vw;
  height: 100vh;
}
.about-wrapper .about-row .about-right,
.about-wrapper .about-row-second .about-right {
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .about-row .about-right p,
.about-wrapper .about-row-second .about-right p {
  font-family: "Rubic";
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 0 4rem;
}
.about-wrapper .about-row .about-right .read-more,
.about-wrapper .about-row-second .about-right .read-more {
  background-color: transparent;
  border: 1px solid #de6509;
  color: #de6509;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
  font-size: 20px;
  text-decoration: none;
}
.about-wrapper .about-row .about-right .read-more:hover,
.about-wrapper .about-row-second .about-right .read-more:hover {
  background-color: #de6509;
  border: 1px solid #de6509;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .about-wrapper .about-row {
    flex-direction: column;
  }
  .about-wrapper .about-row .about-left {
    width: 100%;
  }
  .about-wrapper .about-row .about-left img {
    width: 90vw;
  }
  .about-wrapper .about-row .about-right {
    width: 100%;
    padding: 2rem 0;
  }
  .about-wrapper .about-row .about-right p {
    text-align: center;
    font-size: 16px;
    padding: 0 2rem;
  }
  .about-wrapper .about-row-second {
    flex-direction: column-reverse;
  }
  .about-wrapper .about-row-second .about-left {
    width: 100%;
  }
  .about-wrapper .about-row-second .about-left img {
    width: 90vw;
  }
  .about-wrapper .about-row-second .about-right {
    width: 100%;
    padding: 2rem 0;
  }
  .about-wrapper .about-row-second .about-right p {
    text-align: center;
    font-size: 16px;
    padding: 0 2rem;
  }
}
.map-wrapper {
  width: 100vw;
  margin-bottom: -1rem;
}
.map-wrapper .map1 {
  width: 100vw;
  filter: grayscale(100%);
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.services-wrapper .services-first {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.services-wrapper .services-first .first-left {
  padding: 3rem;
}
.services-wrapper .services-first .first-right {
  padding: 3rem;
}
.services-wrapper .services-first .first-right .title {
  color: #de6509;
  font-weight: 700;
}
.services-wrapper .services-first .first-right p {
  color: white;
  font-family: "Rubic";
}
.services-wrapper .services-second {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}
.services-wrapper .services-second .second-left {
  padding: 3rem;
}
.services-wrapper .services-second .second-left p {
  color: white;
  font-family: "Rubic";
}
.services-wrapper .services-second .second-right {
  padding: 3rem;
}
.services-wrapper .services-third {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}
.services-wrapper .services-third .third-left {
  padding: 3rem;
}
.services-wrapper .services-third .third-right {
  padding: 3rem;
}
.services-wrapper .services-third .third-right .title {
  color: #de6509;
}
.services-wrapper .services-third .third-right p {
  color: white;
  font-family: "Rubic";
}

@media only screen and (max-width: 1024px) {
  .services-wrapper .services-first {
    flex-direction: column;
    margin-top: 3rem;
  }
  .services-wrapper .services-first .first-left {
    padding: 0;
  }
  .services-wrapper .services-first .first-right {
    padding: 2rem;
  }
  .services-wrapper .services-second {
    flex-direction: column-reverse;
  }
  .services-wrapper .services-second .second-left {
    padding: 2rem;
  }
  .services-wrapper .services-second .second-right {
    padding: 0;
  }
  .services-wrapper .services-third {
    flex-direction: column;
  }
  .services-wrapper .services-third .third-left {
    padding: 0;
  }
  .services-wrapper .services-third .third-right {
    padding: 2rem;
  }
}
.gallery-wrapper {
  margin-bottom: 20rem;
  background-color: #2F3349;
}
.gallery-wrapper .carousel {
  padding: 0 20px;
  margin-top: 7rem;
}
.gallery-wrapper .carousel .active-thumbnail {
  border: 2px solid #de6509;
}

@media only screen and (max-width: 500px) {
  .gallery-wrapper {
    height: 80vh;
  }
  .gallery-wrapper .carousel {
    margin-top: 10rem;
  }
}
body {
  margin: 0;
  padding: 0;
  --swiper-navigation-size: 20px;
  background-color: #2F3349;
}/*# sourceMappingURL=index.css.map */